apiVersion: apps/v1
kind: Deployment
metadata:
  name: resource
spec:
  replicas: 1
  selector:
    matchLabels:
      app: resource
  template:
    metadata:
      labels:
        app: resource
    spec:
      containers:
        - name: resource
          image: intro2mset.azurecr.io/resource:latest
          ports:
            - containerPort: 8080
          env:
            - name: EUREKA_SERVER_URL
              value: "http://discovery:8761/eureka/"
            - name: SPRING_DATASOURCE_URL
              valueFrom:
                secretKeyRef:
                    name: resource-db-secret
                    key: DB_URL
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                    name: resource-db-secret
                    key: USERNAME
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                    name: resource-db-secret
                    key: PASSWORD
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10