apiVersion: v1
kind: Service
metadata:
  name: resource
  labels:
    app: resource
spec:
  selector:
    app: resource
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP