apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery
  template:
    metadata:
      labels:
        app: discovery
    spec:
      containers:
        - name: discovery
          image: intro2mset.azurecr.io/discovery:latest
          ports:
            - containerPort: 8761
          env:
            - name: EUREKA_SERVER_PORT
              value: "8761"
