server:
  port: 8080

spring:
  application:
    name: resource-service

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/resource_db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
    instance:
      prefer-ip-address: true


song-service:
  base-url: ${SONG_SERVICE_URL:lb://song-service}
  timeout:
    connect: 3s
    read: 5s
  retry:
    max-attempts: 3
    backoff:
      initial: 500ms
      max: 5s

management:
  endpoints:
    web:
      exposure:
        include: health,info
info:
  app:
    name: ${spring.application.name}
    description: "Service to manage resources"
